@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  font-family: "Rubik", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth .form {
  width: 50%;
  padding: 30px;
  border-radius: 10px;
}

.auth form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 20px;
}

.auth .btn {
  margin-top: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
}

.sidebar {
  width: 68px;
  height: 100vh;
  background: #2f3136;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidebar .logo {
  margin-top: 20px;
  width: 46.44px;
  height: 33px;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 20px 50px;
  background: white;
}

.home-container .title {
  margin-bottom: 24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.home-container .title p {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.home-container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.column-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24%;
  min-height: 184px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border: #eb2f96 1px solid;
  border-radius: 4px;
}

.column-board .title-board {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  height: 22px;
  width: 86px;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 4px;
  border-radius: 2px;
  padding: 1px, 8px, 1px, 8px;
  border: #ffadd2 solid 1px;
  background: #fff0f6;
}

.column-board .title-board p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #eb2f96;
}

.column-board .category-board {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  height: 20px;
  margin-left: 12px;
  margin-bottom: 10px;
}

.column-board .category-board p {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.column-board .addButton {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 38px;
  width: 107px;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: -10px;
}

.column-board .addButton p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.item-card {
  border: #e4e4e8 solid 1px;
  border-radius: 4px;
  width: 92%;
  height: 116px;
  margin: 0 12px 12px 12px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item-card .text-item {
  width: 89%;
  margin-top: 16px;
}

.item-card .text-item p {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.item-card .footer {
  width: 90%;
  margin-bottom: 12px;
}

.item-card .footer .status {
  float: left;
  height: 22px;
  width: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-card .footer .status p {
  margin-bottom: 0;
}

.item-card .footer .option {
  float: right;
  width: 24px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
}

.item-card .footer .option img {
  width: 15.75px;
}

.item-card .footer .option .dropdown {
  margin-top: -15px;
  margin-left: -40px;
  display: none;
  float: right;
  position: absolute;
  background: white;
  width: 138px;
  border-radius: 4px;
  padding: 8px 0;
}

.item-card .footer .option .dropdown .drop-button {
  padding-left: 21px;
  padding-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 32px;
  width: 100%;
}

.item-card .footer .option .dropdown .drop-button .icon {
  height: 15px;
  width: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-card .footer .option .dropdown .drop-button .icon img {
  width: 75%;
}

.item-card .footer .option .dropdown .drop-button p {
  width: 74px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0;
}

.item-card .footer .option .dropdown .drop-button:hover {
  color: #5e20b3;
}

.item-card .footer .option .dropdown .drop-button:hover img {
  color: #ffffff;
}

.item-card .footer .option:hover .dropdown {
  display: block;
}

.empty-item-card {
  border: #e4e4e8 solid 1px;
  border-radius: 4px;
  width: 92%;
  height: 56px;
  margin: 0 12px 12px 12px;
  background: white;
}

.empty-item-card .text-item {
  height: 40px;
  width: 250px;
  margin: 16px 16px 0 16px;
}

.empty-item-card .text-item p {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #b7bdc9;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.AddModal {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  width: 567px;
  padding: 28px 29px 28px 33px;
  background: white;
  outline: none;
}

.AddModal p {
  color: #262626;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.AddModal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.AddModal form .label {
  margin-bottom: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.AddModal form .form {
  height: 39px;
}

.AddModal form .progressForm {
  height: 39px;
  width: 99px !important;
  margin-bottom: 43.5px;
}

.AddModal .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  right: 0;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.AddModal .footer .button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 32px;
  padding: 5px 16px;
  border: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.AddModal .footer .button.save {
  margin-left: 8px;
  background: #27ae60;
  color: #ffffff;
}

.Overlay {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(105, 105, 105, 0.623);
}

.EditModal {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  width: 567px;
  padding: 28px 29px 28px 33px;
  background: white;
  outline: none;
}

.EditModal p {
  color: #262626;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.EditModal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.EditModal form .label {
  margin-bottom: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.EditModal form .form {
  height: 39px;
}

.EditModal form .progressForm {
  height: 39px;
  width: 99px !important;
  margin-bottom: 43.5px;
}

.EditModal .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  right: 0;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.EditModal .footer .button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 32px;
  padding: 5px 16px;
  border: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.EditModal .footer .button.save {
  margin-left: 8px;
  background: #27ae60;
  color: #ffffff;
}

.Overlay {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(105, 105, 105, 0.623);
}

.DeleteModal {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  width: 400px;
  padding: 32px 32px 24px 32px;
  background: white;
  outline: none;
}

.DeleteModal .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DeleteModal .header img {
  width: 21px;
  height: 21px;
}

.DeleteModal .header .text-header {
  width: 296px;
  height: 24px;
}

.DeleteModal .header .text-header p {
  color: #262626;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.DeleteModal .content {
  width: 296px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  margin-bottom: 24px;
}

.DeleteModal .content p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.DeleteModal .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  right: 0;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.DeleteModal .footer .button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 32px;
  padding: 5px 16px;
  border: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.DeleteModal .footer .button.delete {
  margin-left: 8px;
  background: #eb5757;
  color: #ffffff;
}

.Overlay {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(105, 105, 105, 0.623);
}
/*# sourceMappingURL=App.css.map */